*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    position:relative;
    width: 100%;
    height: 100vh;
    background-color: #131313;
    overflow: hidden;
}

.layer{
    position: absolute;
    top:50%;
    left: 50%;
    width:100px;
    height: 330vh;
    background-color: #fff;
    box-shadow: inset -10px 0 40px rgba(0 , 0 ,0 , 1),
    inset 10px 0 40px rgba(0 , 0 , 0 , 1),
    inset -10px 0 10px rgba(255,255,255,0.1),
    inset 10px 0 10px rgba(175, 174, 174, 0.1);
}

.layer.layer1{
    background: #222 radial-gradient(#00f208 3px ,#000 5px , 
    #000 5px , transparent 9px);
    background-size: 18px 18px;
    transform: translate(-50% , -50%) rotate(45deg);
    z-index: 25;
    animation: run 1.7s linear infinite;
}

.layer.layer2{
    background: #222 radial-gradient(#e565ff 3px ,#000 5px , 
    #000 5px , transparent 9px);
    background-size: 18px 18px;
    transform: translate(-50% , -42%) rotate(45deg);
    z-index: 5;
    animation: run_rve 2s linear infinite;
}

.layer.layer3{
    background: #222 radial-gradient(#fff018fa 3px ,#000 5px , 
    #000 5px , transparent 9px);
    background-size: 18px 18px;
    transform: translate(-50% , -58%) rotate(45deg);
    z-index: 14;
    animation: run 2s linear infinite;
}

.layer.layer4{
    background: #222 radial-gradient(#fa0021 3px ,#000 5px , 
    #000 5px , transparent 9px);
    background-size: 18px 18px;
    transform: translate(-50% , -50%) rotate(-45deg);
    z-index: 22;
    animation: run_rve 2s linear infinite;
}

.layer.layer5{
    background: #222 radial-gradient(#71d7ff 3px ,#000 5px , 
    #000 5px , transparent 9px);
    background-size: 18px 18px;
    transform: translate(-50% , -42%) rotate(-45deg);
    z-index: 2;
    animation: run 2s linear infinite;
}

.layer.layer6{
    background: #222 radial-gradient(#030be8 3px ,#000 5px , 
    #000 5px , transparent 9px);
    background-size: 18px 18px;
    transform: translate(-50% , -58%) rotate(-45deg);
    z-index: 12;
    animation: run_rve 2s linear infinite;
    
}

@keyframes run{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 35px -35px;
    }
}

@keyframes run_rve{
    0%{
        background-position: 35px -35px;
        
    }
    100%{
        background-position: 0 0;
        
        
    }
}